body {
    background-color: #ffffff;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header {
    background-color: #969aff;
    display: flex;
    justify-content: center;

}
.logo {
    width: 200px;
}
.logo img {
    width: 100%;
}
nav {
    background-color: #969aff;
}
ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   display: flex;
}
li {
    margin-right: 20px;
}
a {
    text-decoration: none;
}
a :hover{
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-color: mediumorchid;
}
